<h1>Listing tests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% tests = "[" %>
<% @tests.each do |test| %>
  <tr>
    <td><%= test.name %></td>
    <td><%= test.description %></td>
    <td><%= test.results %></td>
    <td><%= link_to 'Show', test %></td>
    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td><%= link_to 'Destroy', test, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% tests = tests + "[" + test.results + "]," %>
<% end %>
</table>

<% tests += "]" %>
<br />

<div id="chartdiv" style="height:800px;width:1400px;"></div>
<script language="javascript" type="text/javascript">
	$.jqplot('chartdiv', <%= tests %>);
</script>

<%= link_to 'New Test', new_test_path %>
