<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Description:</b>
  <%= @test.description %>
</p>

<p>
  <b>Results:</b>
  <%= @test.results %>
</p>

<div id="chartdiv" style="height:400px;width:300px;"></div>
<script language="javascript" type="text/javascript">
$.jqplot('chartdiv', [[<%= @test.results %>]]);
</script>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
